<nav class="navbar bg-transparent fixed-bottom">
  <span class="navbar-brand mb-0 h1 ms-4 mb-2 p-auto"></span>
  <ul class="nav">
    <li class="nav-item mx-2 my-2 px-2 bg-danger rounded-4">
      <a class="nav-link text-light fs-4" href="#">logout</a>
    </li>
  </ul>
</nav>
<div class="container-fluid my-2">
  <div class="row mb-2">
    <div class="col-md mx-1 p-3 shadow bg-white rounded-1">
      <div class="row my-auto">
        <div class="col-md">
          <p class="lead fs-3 my-0 text-center">Admin</p>
        </div>
      </div>
    </div>
    <div class="col-md-7 mx-1 p-3 shadow bg-white rounded-1">
      <div class="row my-auto">
        <div class="col-md text-center">
          <p class="lead fs-2 mb-0 text-dark text-center">GPIB Immanuel Malang</p>
        </div>
      </div>
    </div>
    <div class="col-md mx-1 px-3 py-4 shadow bg-white rounded-1">
      <div class="row my-auto">
        <div class="col-md">
          <p class="lead fs-5 text-center mb-0 greeting-text">Portal Whatsapp BOT</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-1">
    <div class="col-md mx-1">
      <!-- Judul Kategori -->
      <div class="row">
        <div class="col-md my-1 bg-white shadow">
          <p class="lead fs-5 p-2 mb-0">Arsip 1</p>
        </div>
      </div>
      <!-- Upload -->
      <div class="row">
        <div class="col-md py-2 my-1 bg-white shadow">
          <form id="form" action="/api/file" method="post">
            <div class="mb-3">
              <label for="files" class="form-label lead fs-6 visually-hidden">Upload Pdf</label>
              <input type="file" class="form-control filepond" id="files" name="files" style="font-size: 13px" />
            </div>
            <div class="text-end">
              <button type="submit" class="btn btn-warning">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <!-- Archive -->
      <div class="row">
        <div class="col-md py-2 my-1 bg-white shadow">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">A second link item</a>
            <a href="#" class="list-group-item list-group-item-action">A third link item</a>
            <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
            <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
            <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md mx-1">
      <div class="row">
        <div class="col-md mt-2 mb-1 bg-white shadow">
          <p class="lead fs-5 p-2 mb-0">Arsip 1</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md py-2 my-1 bg-white shadow">
          <form id="form" action="/api/file" method="post">
            <div class="mb-3">
              <label for="files" class="form-label lead fs-6 visually-hidden">Upload Pdf</label>
              <input type="file" class="form-control filepond" id="files" name="files" style="font-size: 13px" />
            </div>
            <div class="text-end">
              <button type="submit" class="btn btn-warning">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <!-- Archive -->
      <div class="row">
        <div class="col-md py-2 my-1 bg-white shadow">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">A second link item</a>
            <a href="#" class="list-group-item list-group-item-action">A third link item</a>
            <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md mx-1">
      <div class="row">
        <div class="col-md mt-2 mb-1 bg-white shadow">
          <p class="lead fs-5 p-2 mb-0">Arsip 1</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md py-2 my-1 bg-white shadow">
          <form id="form" action="/api/file" method="post">
            <div class="mb-3">
              <label for="files" class="form-label lead fs-6 visually-hidden">Upload Pdf</label>
              <input type="file" class="form-control filepond" id="files" name="files" style="font-size: 13px" />
            </div>
            <div class="text-end">
              <button type="submit" class="btn btn-warning">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <!-- Archive -->
      <div class="row">
        <div class="col-md py-2 my-1 bg-white shadow">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">A second link item</a>
            <a href="#" class="list-group-item list-group-item-action">A third link item</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md mx-1">
      <div class="row">
        <div class="col-md mt-2 mb-1 bg-white shadow">
          <p class="lead fs-5 p-2 mb-0">Arsip 1</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md py-2 my-1 bg-white shadow">
          <form id="form" action="/api/file" method="post">
            <div class="mb-3">
              <label for="files" class="form-label lead fs-6 visually-hidden">Upload Pdf</label>
              <input type="file" class="form-control filepond" id="files" name="files" style="font-size: 13px" />
            </div>
            <div class="text-end">
              <button type="submit" class="btn btn-warning">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <!-- Archive -->
      <div class="row">
        <div class="col-md py-2 my-1 bg-white shadow">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">A second link item</a>
            <a href="#" class="list-group-item list-group-item-action">A third link item</a>
            <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
            <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
            <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md mx-1">
      <div class="row">
        <div class="col-md mt-2 mb-1 bg-white shadow">
          <p class="lead fs-5 p-2 mb-0">Arsip 1</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md py-2 my-1 bg-white shadow">
          <form id="form" action="/api/file" method="post">
            <div class="mb-3">
              <label for="files" class="form-label lead fs-6 visually-hidden">Upload Pdf</label>
              <input type="file" class="form-control filepond" id="files" name="files" style="font-size: 13px" />
            </div>
            <div class="text-end">
              <button type="submit" class="btn btn-warning">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <!-- Archive -->
      <div class="row">
        <div class="col-md py-2 my-1 bg-white shadow">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">A second link item</a>
            <a href="#" class="list-group-item list-group-item-action">A third link item</a>
            <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
            <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
