<div class="container my-5">
  <div class="row">
    <div class="col-md-4 mx-auto p-3 shadow bg-light">
      <p class="mt-2 mb-0 lead text-dark fs-4">Layanan Whatsapp</p>
      <p class="lead text-warning fs-4">GPIB Immanuel Malang</p>
      <form action="/api/auth/login" method="post">
        <% if (message.alert) { %>
        <div class="alert alert-dismissible alert-danger fade show mb-3">
          <button type="button" class="btn-close" data-mdb-toggle="animation" data-mdb-animation="slide-right" data-mdb-animation-start="onLoad" data-bs-dismiss="alert"></button>
          <strong>Oh no!</strong> <%= message.alert %>
        </div>
        <% } %>
        <div class="row">
          <div class="col-md lead text-dark">
            <div class="form-group">
              <label for="username" class="form-label mt-4 fs-6">Username</label>
              <input type="text" class="form-control fs-6" id="username" name="username" placeholder="Enter username" />
            </div>
            <div class="form-group">
              <label for="password" class="form-label mt-4 fs-6">Password</label>
              <input type="password" class="form-control fs-6" id="password" name="password" placeholder="Password" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md my-3 text-end">
            <button type="submit" class="btn btn-warning">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
