<div class="container my-5">
  <div class="row">
    <div class="col-md-4 mx-auto text-center qr-ready">
      <div class="row">
        <div class="col-md my-1">
          <p class="lead text-dark fs-6">Scan Barcode</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md mt-1 mb-2">
          <div id="qrcode"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md my-1">
          <p class="lead text-danger mb-0 fs-6">Barcode dapat berubah setiap saat</p>
          <p class="lead text-dark fs-6">Update Barcode jika error.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const qrReady = document.querySelector('.qr-ready');
  const qrHtml = document.querySelector('#qrcode');
  qrHtml.innerHTML = '<div class="spinner-border" style="width: 3rem; height: 3rem" role="status"><span class="visually-hidden">Loading</span></div>';

  fetchQr();

  function fetchQr() {
    // fetch('http://localhost:3000/api/qr')
    fetch('http://103.166.156.172:3000/api/qr')
      .then((response) => response.json())
      .then((data) => {
        if (data.qrClient === 'ready') {
          qrReady.innerHTML = '<p class="lead text-success fs-6">Whatsapp sudah terhubung</p><a type="button" href="/api/auth/logout" class="btn btn-danger my-2">Logout</a>';
        } else {
          qrHtml.innerHTML = `<img src="${data.qrClient}" alt="barcode" /></br><a type="button" href="/barcode" class="btn btn-success my-2">Update Barcode / Confirm</a><br><a type="button" href="/api/auth/logout" class="btn btn-danger my-2">Logout</a>`;
        }
      });
  }
</script>
